body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  width: 50vw;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: black;
}

ul.tasks {
  padding: 0;
  width: 100%;
}

.list-container h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 0;
  width: 100%;
  height: 0.1vw;
  font-size: 2vw;
  border-radius: 30px;
  font-weight: bold;
}

.input-field {
  padding: 8px;
  margin-left: 5px;
}

input.editInput {
  padding: 0;
  margin-left: 0%;
  width: auto;
  height: auto;
  border: 2px solid red;
}

input[type="text"] {
  color: rgb(0, 0, 0);
  font-size: 1.5vw;
  font-weight: 600;
  padding: 5px;
  height: 40px;
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  padding: 8px;
  margin: 0 5%;
  margin-top: 8px;
  border: 1px solid rgb(5, 5, 5);
}

li span {
  font-size: 1.4vw;
  font-weight: 600;
}

button {
  font-size: 1.5vw;
  font-weight: 600;
  margin-left: 2%;
  padding: 10px;
  width: auto;
  height: 3rem;
  border-radius: 10px;
  border: none;
  background-color: coral;
  color: #fff;
  margin-bottom: 0%;
  margin-bottom: 5%;
}

.delete-btn {
  display: none;
}

.checkContainer {
  background-color: rgb(255, 217, 0);
}

.checkTask {
  text-decoration: line-through;
  color: red;
}

.active {
  display: block;
}

.disable {
  display: none;
}
